body { 
    margin: 0%;
    padding: 0%;
}



img { 
    width: 60%;
    display: block;
    margin: 50px auto 20px;
}

input {
    box-sizing: border-box;
    display: block;
    border: 1px solid;
    width: 80%;
    border-radius: 24px;
    margin: 0% auto 30px;
    padding-left: 30px;
    height: 45px;
    padding-left: 20px;
    font-size: 16px;
}